<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="aloha.viewerContribution1"
            targetID="#CompilationUnitEditorContext">
         <action
               class="aloha.AddMetaData"
               id="aloha.AddMetaData"
               label="Generate Aloha Metadata"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="aloha.viewerContribution2"
            targetID="#CompilationUnitEditorContext">
         <action
               class="aloha.ToUpdateResource"
               id="aloha.ToUpdateResource"
               label="Generate Aloha toUpdateResource"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="aloha.viewerContribution3"
            targetID="#CompilationUnitEditorContext">
         <action
               class="aloha.RepositoryTestMethod"
               id="aloha.RepositoryTestMethod"
               label="Generate AlohaRepository Test Method"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
</plugin>
